:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cell {
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  height: 100%;
}

.cell:last-child {
  border-right: 1px solid black;
}

.cell:hover {
  background-color: lightblue;
  cursor: pointer;
}

.row:last-child .cell {
  border-bottom: 1px solid black;
}
